<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
            <div class="container">
                <a class="navbar-brand" href="#"><b>9GAG</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="#">Wholesome <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="#">Today I Wore</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Pokemon</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">Local</a>
                    </li>
                    
                  </ul>
                  <ul class="navbar-nav my-2 my-lg-0">
                      <li class="nav-link"><i class="fa fa-moon-o"></i></li>
                      <li class="nav-link"><i class="fa fa-search"></i></li>
                      <li class="nav-link"><i class="fa fa-bell-o"></i></li>
                  </ul>
                  <div class="dropdown" style="margin-right: 30px;">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img class="rounded-circle" src="pokemon.png" alt="" width="25px" height="25px">
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">My Profile</a>
                      <a class="dropdown-item" href="#">Setting</a>
                      <a class="dropdown-item" href="#">Logout</a>
                    </div>
                  </div>
                <div class="upload">
                  <button class="btn btn-primary" ><b>+ Upload</b></button>
                </div>
            </div>
              </nav>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-2 col-sm-12 d-none d-md-block" >
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Hot</a></span></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Trending</a></span></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Fresh</a></span></div>
                <br>
                <div class="row" style="padding-left : 20px"><b><a style="color: grey;" href="#">Popular</a></b></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Indonesia ID</a></span></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Meme</a></span></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Politics</a></span></div>
                <br>
                <div class="row"  style="padding-left : 20px"><b><a style="color: grey;" href="#">Sections</a></b></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Pokemon</a></span></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Today I Wore</a></span></div>
                <div class="row"  style="padding-left : 20px"><span><a style="color: black;" href="#">Wholesome</a></span></div>
              </div>
            <div class="col-md-7 col-sm-12">
                <button type="button" class="btn btn-light">Top Posts of the Week</button>
                <button type="button" class="btn btn-light">Pokemon</button>
                <button type="button" class="btn btn-light">Wholesome</button>
                <button type="button" class="btn btn-light">Today I Wore</button>
                <br>
                <br>
                <div class="row">
                  <img src="pokemon.png" alt="" width="30px" height="30px">
                  <a style="color: grey; font-size: 14px; margin-left: 15px; margin-bottom: 10px; line-height: 30px;" href="#" >Pokemon</a>
                  <a style="margin-left: 5px; color: grey;">.</a>
                  <span><a href="#" style="color: grey; margin-left: 5px; line-height: 30px; font-size: 12px;">1h</a></span>
                </div>
                <div class="row">
                  <h2 style="color: black; font-size: 24px;">I Like You</h2>
                </div>
                <div class="row">
                  <img src="pokemon1.jpg" alt="" width="100%">
                </div>
                <div class="row">
          
                  <span><a href="#" style="color: grey; font-size: 14px;">296 Points</a></span>
                  <a style="color: grey;">.</a>
                  <span><a href="#" style="color: grey; font-size: 14px; ">1 Comments</a></span>
                </div>
                <div class="row">
                      <button type="button" class="btn btn-outline-dark" style="margin-right: 10px;"><i class="fa fa-arrow-up"></i></button>
                      <button type="button" class="btn btn-outline-dark" style="margin-right: 10px;"><i class="fa fa-arrow-down"></i></button>
                      <button type="button" class="btn btn-outline-dark"><i class="fa fa-comments"></i></button>
                </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>